.video-index {
    display: block;
    position: relative;
    // background-color: blue;
    top: 2.5vh;
    left: 2.5vw;
    // margin-top: 5vh;
    // margin-bottom: 5vh;
    // margin-left: 20px;
    // margin-right: 20px;
    height: 95vh;
    width: 95vw;
}