.video-index {
    display: flex;
    align-items: center;
    height: 25vh;
    width: 100vw;
    // border: 1px solid black;
    margin-left: 2.5vw;
    // overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    top: 2.3vh;

}

// .scrolling-wrapper {
//    overflow-x: scroll;
//    overflow-y: hidden;
//    white-space: nowrap;
//    -webkit-overflow-scrolling: touch;
// }

.index-size-limit {
    display: block;
    // border: 1px solid green;
    // background-color: green;
    height: 30vh;
    width: 100vw;
    // margin:0 5vw;
    // overflow: hidden;
}
