.footer {
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    color: white;
}

// .footer h1 {
//     text-align: center;
// }