.form-navbar {
    width: 100vw;
    display:block;
    height: 100px;
}

.form-logo-wrapper{
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 3%;
}

.form-logo-image{
    margin-top: 20px;
    height: 70px;
}