.buttons-container {
    // background-color: red;
    // height: 100px;
    // width: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 400;
    top: 20%;    
    left: 90%;
    color: white;
    height: 100%;
    // font-size: 20px;
}

.item-mute-icon {
    display: block;
    position: absolute;
    z-index: 400;
    top: 10%;    
    left: 90%;
    color: white;
    font-size: 20px;
}

.status-icon {
    display: block;
    position: absolute;
    z-index: 400;
    // top: 55%;    
    top: 30%;    
    left: 90%;
    color: white;
    font-size: 20px;
}

// .check-icon {
//     display: block;
//     position: absolute;
//     z-index: 400;
//     top: 30%;    
//     left: 90%;
//     color: white;
//     font-size: 20px;
// }

// .thumbs-up-icon {
//     display: block;
//     position: absolute;
//     z-index: 400;
//     top: 25%;    
//     left: 90%;
//     color: white;
//     font-size: 20px;
// }

// .thumbs-down-icon {
//     display: block;
//     position: absolute;
//     z-index: 400;
//     top: 40%;    
//     left: 90%;
//     color: white;
//     font-size: 20px;
// }

