.buttons-container {
    background-color: red;
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    z-index: 400;
    top: 30%;    
    left: 40%;
    color: white;
    // font-size: 20px;
}