.video-index-item {
    // height: 200px;
    // width: 300px;
    display: block;
    // background-color: yellow;
    position: relative;
    top: 20px;
    left: 20px;
    margin: 0px 15px;
}

.video-item {
    height: 300px;
    width: 600px;
    // background-color: green;
    // -webkit-transition: width 2s, height 2s;
    // transition: width 2s, height 2s;
}

.video-thumbnail {
    height: 180px;
    width: 300px;
    // -webkit-transition: width 2s, height 2s;
    // transition: width 2s, height 2s;
    // background-color: green;
}

