.video-index-item { 
    display: inline-block;
    height: 80%;
    width: 15vw;
    // margin-left: 0.5vw;
    margin-right: 0.2vw;
    overflow: hidden;
    transition-duration: 0.5s;
    // border: 1px solid red;
}

.video-index-item:hover {
    height: 100%;
    width: 20vw;
    // background: black;
    transition-duration: 1s;
}

.video-item { //video
    display: block;
    height: 100%;
    width: 20vw;
    // border: 1px solid pink;
}

.display-play-button {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 50;
    bottom: 12vh;
    left: 0.5vw;
}

.thumbnail-position {
    display: block;
    height: 25vh;
    width: 100%;

}

.video-thumbnail { //video 
    display: block;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    // border: 1px solid blue;
    height: 80%;
    width: 15vw;
}

.video-thumbnail:hover {
    display: block;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid blue;
    height: 100%;
    width: 20vw;
    transition-duration: 0.5s;
    // transition-duration: 2s;
}



// .display-play-button:hover {
//     display: block;
//     background-color: green;
//     padding: 5px;
// }

// video {
//     transition-delay: 2s;
// }

// .video-info {
//     background: red;
//     height: 300px;
//     width: 100%;
//     color: white;
//     display: flex;
//     flex-direction: column;
// }

// .video-description {
    // display: flex;
    // flex-direction: column;
    
    // max-width: 300px;
    // color: white;
// }