.display-video-details {
    // display: grid;
    // grid-template-columns: 40% 60%;
    display: block;
    // height: 62.5vh;
    height: 70vh;
    width: 100%;
    background-color: black;
    // z-index: 100;
    overflow: hidden;
}

.close-description-button {
    // background-color: red;
    padding: 4px;
    // border-radius: 4px;
    position: absolute;
    top: 20px;
    left: 97vw;
}

.no-button {
    display: none;
}

.fa-times {
    color: gray;
    // opacity: 0.7;
    font-size: 30px;
}

.description-container {
    width: 20vw;
    height: 25px;
    background-color: red;
    // z-index: 50;
    position: absolute;
    top: 23vh;
}

.description-side {
    // background-color: blue;
}

.description-outer-wrapper {
    position: relative;
    // background-color: red;
    z-index: 50;
    top: -23px;
    // height: 70vh;
    // width: 100%;
}

.description-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100%;
}

.description-video-container {
    height: 100%;
    width: 100%;
}

.description-video {
    height: 100%;
    width: 100%;
}

.description-side {
    color: white;
}

///////////////////////////////////////////////////////////////////

.title-container {
    padding: 30px 0;
}

.description-title {
    font-size: 45px;
    // font-size: 1.275vw;
    text-align: center;
    font-weight: bold;
}

.year-container {
    padding: 30px 20px;
}

.description-year {
    font-size: 1.1vw;
    font-weight: bold;
}

.desc-container {
    padding: 0 20px;
}

.description {
    font-size: 22px;
    color: #999;
}