.display-video-details {
    // display: grid;
    // grid-template-columns: 40% 60%;
    display: block;
    // height: 62.5vh;
    height: 60vh;
    width: 100%;
    background-color: black;
    // z-index: 100;
    overflow: hidden;
}

.close-description-button {
    background-color: red;
    padding: 4px;
    border-radius: 4px;
}

.description-container {
    width: 20vw;
    height: 25px;
    background-color: red;
    // z-index: 50;
    position: absolute;
    top: 217px;
}

.description-side {
    background-color: blue;
}

.description-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100%;
}

.description-video-container {
    height: 100%;
    width: 100%;
}

.description-video {
    height: 100%;
    width: 100%;
}

.description-side {
    color: white;
}