.user-dropdown{
    padding: 0;
    list-style: none;
    // background: red;
    margin-right: 50px;
    color: white;
}

ul li{
    display: inline-block;
    position: relative;
    line-height: 26px;
    text-align: right;
}

ul li a{
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}

ul li ul.dropdown{
    min-width: 125px; /* Set width of the dropdown */
    display: none;
    position: absolute;
    z-index: 999;
    right: 100px;
    top: 50px;
}

ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
    z-index: 25;
    background-color: black;
    opacity: 0.75;
    position: fixed;
    width: 100px;   
}

// .dropwdown:hover {
//     display: block; /* Display the dropdown */
//     z-index: 25;
//     background-color: black;
//     opacity: 0.75;
//     position: fixed;
//     // right: 70px;
//     // left: 80%;
//     width: 100px;   
//     // transition
// }

ul li ul.dropdown li{
    display: block;
}

.fa-user-circle {
    color:white;
    margin-top: 10px;
    padding: 10px;
    background-color:red;
    position: relative;
    bottom: 6px;
}

.user-dropdown{ 
    // border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.browse-navbar {
    display: flex;
    color: white;
    // background-color:#141414;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 200;
    font-size: 14px;
    height: 68px;
    align-items: center;
}

// .nav-bg {
//     background-color: none;
// }

// html:not([data-scroll='0']) {
//     nav{
//         // background-color: #141414;
//          display: flex;
//     color: white;
//     // background-color:#141414;
//     width: 100vw;
//     position: fixed;
//     top: 0;
//     z-index: 200;
//     font-size: 14px;
//     height: 68px;
//     align-items: center;
//     }
// }

// nav:not([data-scroll='50']) {
//     background-color:#141414;
// }

.browse-logo-image {
    height: 30px;
    width: 92px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar-left-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    width: 25vw;
    font-weight: 500;
}

li {
    .tab {
        padding: 0;
    }
}

.navbar-right-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.nav-tab-2 {
    background-color: red;
}

.nav-right {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-right-font {
    font-size: 12px;
}

.nav-right-font:hover {
    text-decoration: underline;
}

// .selected-tab {
    // font-weight: 700;
// }


// .navbar-left-wrapper, .navbar-right-wrapper {
//     // margin-top: 20px;
// }