.user-dropdown{
    padding: 0;
    list-style: none;
    background: gray;
    margin-right: 50px;
}

ul li{
    display: inline-block;
    position: relative;
    line-height: 26px;
    text-align: right;
}

ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    // color: #333;
    color: white;
    text-decoration: none;
}

ul li a:hover{
    color: white;
    background: black;
    // position: relative;
    // z-index: 25;
    // overflow: hidden;
}

ul li ul.dropdown{
    min-width: 125px; /* Set width of the dropdown */
    // background: #f2f2f2;
    background: black;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
    position: relative;
    z-index: 25;
    overflow: hidden;
}

ul li ul.dropdown li{
    display: block;
}

.fa-user-circle {
    color:black;
    margin-top: 10px;
}

.user-dropdown{ 
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

////////////////////////////

.form-background {
    // transform: scale(1.2);
    // z-index: 0;
}

// .browse-navbar {
    // display: flex;
    // justify-content: space-between;
    // color: white;
    // padding-left: 10px;
    // padding-right: 20px;
    // font-size: 20px;
    // overflow: hidden;
    // z-index: 20;
    // position: sticky;
    // top: 0;
    // background-color: black;
    // width: 100vw;

// }

// .signed-in-navbar button {
//     border: 1px solid black;
//     padding: 5px;
//     // background: red;
// }

// .search-bar{
//     border: 1px solid black;
//     background-color: lightgrey;
//     color: black;
// }

.browse-navbar {
    display: flex;
    // justify-content: space-between;
    color: white;
    padding: 0 4%;
    position: sticky;
    top: 0;
    z-index: 20;
    font-size: 14px;
}

.navbar-left-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    width: 25vw;
}

li {
    .tab {
        padding: 0;
    }
}

.navbar-right-wrapper {
    display: flex;
    // justify-content: flex end;
    // justify-content: space-between;

}
