.user-dropdown{
    padding: 0;
    list-style: none;
    background: red;
    margin-right: 50px;
    color: white;
}

ul li{
    display: inline-block;
    position: relative;
    line-height: 26px;
    text-align: right;
}

ul li a{
    display: block;
    padding: 8px 25px;
    // color: #333;
    // color: #333;
    color: white;
    text-decoration: none;
}

// ul li a:hover{
//     color: white;
//     background: black;
//     position: relative;
//     z-index: 25;
//     overflow: hidden;
// }

ul li ul.dropdown{
    min-width: 125px; /* Set width of the dropdown */
    // background: #f2f2f2;
    background: white;
    display: none;
    position: absolute;
    z-index: 999;
    // left: 50px;
    right: 100px;
    top: 50px;
}

ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
    z-index: 25;
    background-color: black;
    opacity: 0.75;
    position: fixed;
    // right: 70px;
    // left: 80%;
    width: 100px;
}

ul li ul.dropdown li{
    display: block;
}

.fa-user-circle {
    color:white;
    margin-top: 10px;
}

.user-dropdown{ 
    // border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

////////////////////////////

// .browse-navbar {
    // display: flex;
    // justify-content: space-between;
    // color: white;
    // padding-left: 10px;
    // padding-right: 20px;
    // font-size: 20px;
    // overflow: hidden;
    // z-index: 20;
    // position: sticky;
    // top: 0;
    // background-color: black;
    // width: 100vw;

// }

// .signed-in-navbar button {
//     border: 1px solid black;
//     padding: 5px;
//     // background: red;
// }

// .search-bar{
//     border: 1px solid black;
//     background-color: lightgrey;
//     color: black;
// }

.browse-navbar {
    display: flex;
    color: white;
    background-color:#141414;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 200;
    font-size: 14px;
    height: 68px;
    align-items: center;
}

// html:not([data-scroll='0']) {
//     nav{
//         // background-color: #141414;
//          display: flex;
//     color: white;
//     // background-color:#141414;
//     width: 100vw;
//     position: fixed;
//     top: 0;
//     z-index: 200;
//     font-size: 14px;
//     height: 68px;
//     align-items: center;
//     }
// }

// nav:not([data-scroll='50']) {
//     background-color:#141414;
// }

.browse-logo-image {
    height: 30px;
    width: 92px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar-left-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    width: 25vw;
    font-weight: 500;
}

li {
    .tab {
        padding: 0;
    }
}

.navbar-right-wrapper {
    display: flex;
    // justify-content: flex end;
    // justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.nav-tab-2 {
    // margin-left: 20px;
    // z-index: 250;
    // padding: 5px;
    background-color: red;
    // padding: 10px;
}

.nav-right {
    padding-left: 15px;
    padding-right: 15px;
    // margin-top: 5px;
}

// .selected-tab {
    // font-weight: 700;
// }


// .navbar-left-wrapper, .navbar-right-wrapper {
//     // margin-top: 20px;
// }