.video-display {
    // background-color:pink;
    display: block;
}

.video-display-item {
    display: block;
    background-color: black;
    display: block;
    // height: 100px;
    width: 100vw;
}

.display-image {
    height: 300px;
    width: 500px;
}

.display-video {
    height: 50vh;
    width: 100vw;
}