.user-dropdown{
    padding: 0;
    list-style: none;
    background: gray;
    margin-right: 50px;
}

ul li{
    display: inline-block;
    position: relative;
    line-height: 26px;
    text-align: right;
}

ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}

ul li a:hover{
    color: #fff;
    background: black;
}

ul li ul.dropdown{
    min-width: 125px; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
}

ul li ul.dropdown li{
    display: block;
}

.fa-user-circle {
    color:black;
    margin-top: 10px;
}

.user-dropdown{ 
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}