
html, body {
    height: 100vh;
    width: 100vw;
    font-family: 'Helvetica Neue', 'Helvetica,Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    background-color: black;
}

// div {
//     display: block;
// }

////////////////////////////////////////

.splash, .form-page {
    width: 100vw;
    height: 100vh;
    // background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://assets.nflxext.com/ffe/siteui/vlv3/f1e267d6-6c89-4764-b978-5f074b26bea5/b3971fff-4585-4604-83a5-c2d03571d56b/US-en-20190722-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://i.ytimg.com/vi/j_2-8115ZAs/maxresdefault.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.splash {
    transition: height .2s linear;
    max-height: 180vw;
    display: inline-block;
}

@media (orientation: landscape), (min-width: 1000px){
.splash {
    height: 100vh;
    margin-bottom: -7vh;
}
}

.splash {
    text-align: center;
}

.splash-wrapper {
    display: inline-block;
    height: 40vh;
    width: 100vw;
    position: relative;
    top: 25vh;
}

.splash-message-wrapper {
    display: block;
}

@media (orientation: landscape), (min-width: 1000px) {
.splash-wrapper {
    // position: absolute;
    bottom: 44px;
    transform: none;
    text-align: center;
    max-width: 100%;
    z-index: 13;
    min-height: 550px;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 60px;
    top: 18%;
}
}

// @media (max-width: 1000px) and (orientation: landscape){
// .splash-wrapper {
//     top: 60%;
//     max-width: 60%;
// }
// }

@media (min-width: 658px), (orientation: landscape){
    .splash-wrapper .splash-message-1 {
        font-size: 60px;
        margin: 0 0 30px;
    }
}

@media (min-width: 1000px) {
.splash-message-wrapper .splash-message-2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.25em;
    margin: 0 0 30px;
}
}

@media (min-width: 658px){
.splash-wrapper .splash-message-2 {
    font-size: 24px;
    margin: 0 0 30px;
}
}

.splash-message-1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0 0 30px;
    line-height: 1.1em;
    color: white;
    text-shadow: 1px 1px 10px black;
    letter-spacing: 0.2px;
}

.splash-message-2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 30px;
    line-height: 1.25em;
    color: white;
    letter-spacing: 0.2px;
}

.splash-demo-button {
    background-color: #e50914;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

.splash-demo-button:hover {
    background-color: #ff0000;
}

.splash-demo-button-text {
    font-size: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 3px;
}

.arrow {
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/home/chevron-right-whitespace.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    margin-left: .5em;
    width: 1em;
    height: .8em;
    display: inline-block;
    background-size: contain;
}

.splash-redirect-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1rem 0 0;
    color: #fff;
    letter-spacing: 0.6px;
}

.splash-redirect-message {
    font-weight: 400;
}

.splash-redirect-spacing{
    padding-left: 5px;
}

.splash-redirect-link {
    text-decoration-line: underline;
    font-weight: 700;
}


/////////////////////////////////////////

.form-page {
    transform: scale(1.2);
    z-index: 0;
}


.signed-in-navbar {
    display: flex;
    justify-content: space-between;
    background:gray;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 20px;
    border: 2px solid black;
}

.signed-in-navbar button {
    border: 1px solid black;
    padding: 5px;
}

.search-bar{
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
}
////////////////////////////////////////

.session-form {
    display: flex;
    border: 2px solid black;
    background-color: black;
    // opacity: 0.6;
    
    font-size: 20px;
    color: white;
    
    // position: absolute;
    // top: 20%;
    // left: 50%;
    // right: 50%;

    min-height: 500px;
    min-width: 380px;
    padding: 40px 20px 50px 20px;
    // padding: 0;
    width: 450px;
    // margin-top: 0;
    // margin-bottom: 90px;
    justify-content: center;
    // position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    // margin: auto;
}

.form{
    // background-color: black;
    // opacity: 0.6;
    // min-height: 660px;
    // min-width: 380px;
    // padding: 60px 68px 40px;
    width: 300px;

}

.email, .password, .demo-button {
    display: block;
    border: 1px solid gray;
    margin: 0px;
    border-radius: 3px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
}

.demo-button {
    background-color: green;
}
.email, .password {
    background-color: #333333;
    color: #8c8c8c;
}

.submit-button {
    border: 1px solid gray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 60px;
}


.submit-button, .email, .password, .demo-button {
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
}

.formtype {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 32px;
}

.password {
    margin-bottom: 20px;
}

.link-button {
    margin: 5px;
    color: red;
}

button {
    margin: 5px;
}


////////////////////////////////

.errors {
    // display: block;
    color: #e87c03;
    background-color: none;
}

.errors-display {
    text-align: left;
}
//////////////////////////////////

